/*-----
Main Style Sheet for Free Product Landing Page

    - Theme Styles
    - Global Styles
    - Header Styles
    - Start Main Content(View) Styles
-----*/


/*----- Start Theme Styles -----*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*----- End Theme Styles -----*/

/*----- Start Global Styles -----*/
    .btn {
        text-align: center;
        margin: auto;
        background-color: #faa63c;
        border-color: #faa63c;
    }
    .btn:hover {
        background-color: #c8dc48;
        border-color: #c8dc48;
    }
    .form-row {
        margin-bottom: 20px;
    }
/*----- End Global Styles -----*/

/*----- Start Header Styles -----*/
.navbar-brand {
    padding: 0;
}
.navabr h1 {
    text-align: center;
}
/*----- End Header Styles -----*/

/*----- Start Main Content Styles -----*/
.bannerImg {
    padding: 0;
}
.bannerImg img {
    width: 100%;
    height: auto;
}
.view {
    display: none;
    margin-top: 20px;
}
.warningText {
    display: none;
}
#view-01 {
    display: block;
}
.progress {
    margin-top: 20px;
}
.progress-bar {
    width: 0%;
    color: #000;
    background-color: #faa63c;
}
#pendulum {
    width: 300px;
    margin: 50px auto;
    display: block;
}

/*----- Start End Content Styles -----*/